* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-primary: #020202;
    --background-secundary:#111012;
    --background-terciary: #24222E;
    




    --font-family: "Sora"
}

body {
    background-color: var(--background-primary);
    color: #FFFFFF;
    font-family: var(--font-family);
    padding: 32px;
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.input legend {
    display: flex;
    justify-content: center;

}



button {
    width: 100px;
    height: 25px;
    background-color: var(--background-terciary);
    color: white;
    border-radius: 12px;
    
}